<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SettingsTheme">

        <!-- IME service -->
        <service
            android:name="com.siansiansu.taigikeyboard.ime.core.TaigiKeyboard"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:configChanges="uiMode"
            android:exported="true">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>

            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>

        <!-- Settings Activity -->
        <activity
            android:name="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/settings__title"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/SettingsTheme"
            android:exported="true"/>

        <!-- Using an activity alias to disable/enable the app icon in the launcher -->
        <activity-alias
            android:name="com.siansiansu.taigikeyboard.SettingsLauncherAlias"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Copyright Activity -->
        <activity
            android:name="com.siansiansu.taigikeyboard.settings.CopyrightActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/copyright__title"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/SettingsTheme"
            android:parentActivityName="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:exported="false"/>

        <!-- Detail Activity -->
        <activity
            android:name="com.siansiansu.taigikeyboard.settings.DetailActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:exported="false"/>

        <!-- Appearance Settings Activity -->
        <activity
            android:name="com.siansiansu.taigikeyboard.settings.AppearanceSettingsActivity"
            android:label="Appearance"
            android:theme="@style/SettingsTheme"
            android:parentActivityName="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:exported="false"/>

        <!-- Setup Guide Activity -->
        <activity
            android:name="com.siansiansu.taigikeyboard.settings.SetupGuideActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName="com.siansiansu.taigikeyboard.settings.SettingsMainActivity"
            android:exported="false"/>

    </application>

</manifest>
