[Desktop Entry]
Type=Application
Name=台語齒盤
Name[en]=TaigiKeyboard
Name[ja]=台語齒盤
Comment=Taiwanese (Tâi-gí) input method settings
Comment[zh_TW]=台語輸入法設定
Exec=taigikeyboard-settings
Icon=taigikeyboard
Terminal=false
Categories=Settings;Utility;
Keywords=Taigi;Taiwanese;Tailo;POJ;input method;fcitx;ibus;
StartupNotify=true
