# === Android / Gradle ===
.gradle
.gradle-home
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache
local.properties
app/.cxx
**/release/
**/debug/
*.aab
*.apk

# === Kotlin/Java ===
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
